@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.smallimg{
  /* height:200px; */
  width:100% !important ;
  border-radius: 5px !important;
} 

h1{
  font-size:20px !important
}
.btn{
  background-color: black;
  color: white;
  border-color: black;
  box-shadow: none;
  font-size: small;
  margin-left: 10px;
  margin-right: 5px;
}
.bs{
  margin: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.bigimg{
  height: 400px;
  width: 100%;
  border-radius: 5px;
 
}
.d-block{
  height: 300px;
}

input{
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cee{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.navbar{
  background-color: rgb(59, 52, 52) !important;
  height: 80px;
  padding: 20px;
  
}
.nav-link:hover{
  color: rgb(204, 244, 244);
}
.navbar-brand:hover{
  color: rgb(196, 249, 249);
}
.nav-link{
  color: aliceblue;
  /* background-color: blue; */
}
.navbar-brand{
  color:white;
}
.navbar-nav{
  margin-left: auto;
  padding: 20px;
}
.nav-item{
  padding: 10px;
}
